services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: node_dev_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file: .env
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: mongodb_dev
    command: ["--quiet"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
